<!--Styling -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.typeText::after {
    content: "|";
    animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}
</style>

<!--Text and Data-->
<h1 style="text-align: center;" class="typeText">Covid Cases Worldwide</h1>

<!--Looping through data -->
{{#each info as |val key| }}
<h2 style="text-align: center">{{val.country}}</h2>
<h3 style="text-align: center" class="text-warning">Total Cases: {{val.cases}}</h3>
<h3 style="text-align: center" class="text-success">Total Recovered: {{val.recovered}}</h3>
<h3 style="text-align: center" class="text-danger">Total Deaths: {{val.deaths}}</h3>
<img class="center" src ="{{val.countryInfo.flag}}"/><br>
{{/each}}